.linksContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #EEF0F2;
  font-weight: bold;
}

.link:hover {
  color: #FFC405;
}